form{
    border: 3px solid #f1f1f1;
}
.toggle-btn{
    padding: 0 50px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position:relative;
    align-items: center;
}
#button{
    display: flex;
    position:absolute;
    height:25px;
    width: 100px;
    background: linear-gradient(to right, #ff105f,#ffad06);
    border-radius: 30px;
    transition: 0.5s;
    
}

.login-form{
    margin: 0px;
    padding: 10px;
    display: flex;
    align-items: center;
    font-family: 'Lato' sans-serif;
    height: 100vh;
    width: 100vw;
    font-weight: 700;
    overflow: hidden;
    justify-content: center;
    background-image: url(image1.jpeg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
.login-div{
    width: 400px;
    height: 700px;
    padding: 60px 35px 45px 35px;
    border-radius:40px;
    box-shadow: 13px 13px 20px rgb(19, 37, 206), -13px -13px 20px rgb(19, 37, 206);
    background:seashell;
    opacity:75%;
}
.logo{
    
    background:url(image.png);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 25px auto;
    box-shadow: 0px 0px 2px #5f5f5f,
                0px 0px 0px 5px #ecf0f3,
                8px 8px 15px #a7aaaf,
                -8px -8px 15px #ffffff;
}
.title{
    letter-spacing: 5px;
    padding-top: 22px;
    text-align: center;
    font-size: 22px;
}
.sub-title{
    letter-spacing: 5px;
    padding-top:10px;
    text-align: center;
    font-size: 18px;
}
.field{
    width: 100%;
    padding: 20px 5px 15px 5px;
}
.field input{
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    color: #555;
    padding: 10px 10px 20px 35px;
}
.username,.password{
    margin-bottom: 35px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1,
                inset -8px -8px 8px #ffffff;
}
.field svg{
    height: 25px;
    margin: 0 150px -38px 3px;
}
.signin-button{
   outline: none;
   border: none;
   cursor: pointer;
   width: 100%;
   height: 75px;
   border-radius: 30px;
   font-size: 20px;
   font-weight: 700;
   font-family: 'Lato'sans-serif;
   color: #fff;
   text-align: center;
   background: #3e41f7;
   box-shadow: 3px 3px 3px #b1b1b1,-3px -3px 3px #ffffff;
   transition: .05s;

}
.signin-button:hover{

    background: rgb(96, 167, 233);
}
.signin-button:active{
    background: deepskyblue;
}
.link{
    padding-top: 20px;
    text-align: center;
    
}
.link a{
    font-size: 15px;
    font-weight: bold;
    
}